In [91]:
#Question1
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

In [92]:
b()
b()
b()
a

6

We have chosen global variable a so that scope of a remains in the whole code.
In each iteration 2 is added to variable a hence the result comes out to be 6.

In [32]:
#Question2
def file_length(file_name):
    
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
        
    except Exception as e:
        print("File {} not found".format(file_name))

In [34]:
file_length('PPT.txt')

2299

In [35]:
file_length('abc.txt')

File abc.txt not found

In [48]:
#Question3
class Marsupial():
    content = []
    def __init__(self):
        self.content = [] 
    def put_in_pouch(self,var):
        self.content.append(var)
    def pouch_contents(self):
        print(self.content)

In [49]:
m =Marsupial()
m.put_in_pouch("doll")
m.put_in_pouch("firetruck")
m.put_in_pouch("kitten")

m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [72]:
class Kangaroo(Marsupial):
    x = 0
    y = 0
    def __init__(self,x,y):
        self.x = x
        self.y = y
    def __str__(self):
        return "I am a Kangaroo located at coordinates (" + str(self.x) + "," + str(self.y)  + ")" 
    def jump(self,dx,dy):
        self.x = self.x+dx
        self.y = self.y+dy

In [73]:
k =Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten', 'doll', 'firetruck', 'kitten', 'doll', 'firetruck', 'kitten']

In [74]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

In [84]:
#Question4
def collatz(x):
    print(x)
    if x%2 == 0:
        return collatz(int(x/2))
    elif x == 1:
        return
    else:
        return collatz(3*x + 1)

In [85]:
collatz(10)

10
5
16
8
4
2
1

In [102]:
#Question5
def binary(num):
    if num == 0:
        return 0
    else:
        return (num % 2 + 10 * binary(int(num // 2)))

num = 9
print(binary(num))

1001

In [107]:
#Question 6

from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    common_headers = ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']
    
    def tag_beginning(self, tag, attrs):
        if tag in self.common_headers:
            print(tag)
            
    def tag_ending(self, tag):
        if tag in self.common_headers:
            print(tag)
            
    def handle_data(self, data):
        print(data)
        
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

Change_me














W3C Mission


Principles

In [93]:
#Question7
from bs4 import BeautifulSoup
import requests
   
def webdir(url, depth, indent):
    if depth > 0:
        depth -= 1
        indent += 1
        try:
            response = requests.get(url)
        except:
            pass
        parsed_text = BeautifulSoup(response.text,"html.parser")
        for i in parsed_text.find_all("a"):
            href = i.attrs['href']
            if href.startswith("http"):
                new_url = href
            elif href.startswith("mail"):
                continue
            else:
                new_url = url.rsplit('/', 1)[0]+"/"+href
            print('\t'*indent + new_url)
            webdir(new_url, depth, indent)

url = "http://reed.cs.depaul.edu/lperkovic/test1.html"
webdir(url, 2, 0)

	http://reed.cs.depaul.edu/lperkovic/test2.html
		http://reed.cs.depaul.edu/lperkovic/test4.html
	http://reed.cs.depaul.edu/lperkovic/test3.html
		http://reed.cs.depaul.edu/lperkovic/test4.html

In [104]:
# Question 8
import sqlite3
connection = sqlite3.connect('WeatherRepoKashish.db')
cur = connection.cursor()
cur.execute("CREATE TABLE IF NOT EXISTS WEATHER_RT (City, Country, Season, Temperature, Rainfall)")
cur.execute("INSERT INTO WEATHER_RT VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9)")
cur.execute("INSERT INTO WEATHER_RT VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2)")
cur.execute("INSERT INTO WEATHER_RT VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
cur.execute("INSERT INTO WEATHER_RT VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO WEATHER_RT VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7)")
cur.execute("INSERT INTO WEATHER_RT VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6)")
cur.execute("INSERT INTO WEATHER_RT VALUES ('London', 'United Kingdom', 'Summer', 15.7, 157.0)")
cur.execute("INSERT INTO WEATHER_RT VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO WEATHER_RT VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5)")
cur.execute("INSERT INTO WEATHER_RT VALUES ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)")
cur.execute("INSERT INTO WEATHER_RT VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1)")
cur.execute("INSERT INTO WEATHER_RT VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

In [105]:
# Query a

cur.execute('SELECT Temperature FROM WEATHER_RT')
print(cur.fetchall())


# Query b


cur.execute('SELECT DISTINCT City FROM WEATHER_RT')
print(cur.fetchall())


# Query c


country = 'India'
cur.execute('SELECT * FROM WEATHER_RT WHERE Country = ?', (country,))
print(cur.fetchall())


# Query d


season = 'Fall'
cur.execute('SELECT * FROM WEATHER_RT WHERE Season = ?', (season,))
print(cur.fetchall())


# Query e

rainfall1 = 200
rainfall2 = 400
cur.execute('SELECT city, country, season FROM WEATHER_RT WHERE Rainfall BETWEEN ? AND ?', (rainfall1,rainfall2,))
print(cur.fetchall())


# Query f


season = 'Fall'
temperature = 20
cur.execute('SELECT city, country FROM WEATHER_RT WHERE Season = ? AND Temperature > ? ORDER BY Temperature', (season,temperature,))
print(cur.fetchall())


# Query g

city = 'Cairo'
cur.execute('SELECT SUM(Rainfall) FROM WEATHER_RT WHERE City = ?', (city,))
print(cur.fetchall())


# Query h


season1 = 'Winter'
season2 = 'Spring'
season3 = 'Summer'
season4 = 'Fall'

cur.execute('SELECT SUM(Rainfall) FROM WEATHER_RT WHERE Season = ?', (season1,))
print(cur.fetchall())
cur.execute('SELECT SUM(Rainfall) FROM WEATHER_RT WHERE Season = ?', (season2,))
print(cur.fetchall())
cur.execute('SELECT SUM(Rainfall) FROM WEATHER_RT WHERE Season = ?', (season3,))
print(cur.fetchall())
cur.execute('SELECT SUM(Rainfall) FROM WEATHER_RT WHERE Season = ?', (season4,))
print(cur.fetchall())

[(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]
[('Mumbai',), ('London',), ('Cairo',)]
[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]
[('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]
[('Mumbai', 'India', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('London', 'United Kingdom', 'Fall')]
[('Cairo', 'Egypt'), ('Mumbai', 'India')]
[(27.6,)]
[(230.1,)]
[(192.29999999999998,)]
[(1706.5,)]
[(569.0,)]

In [86]:
#Question9
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']

In [89]:
# a
new_words = []
for w in words:
    new_words.append(w.upper())
print(new_words)  

print("-----------------------------")
#b
new_words = []
for w in words:
    new_words.append(w.lower())
print(new_words)
print("-----------------------------")
#c
new_words = []
for w in words:
    new_words.append(len(w))
print(new_words)
print("-----------------------------")
#d
new_words = []
for w in words:
    new_words.append([w.upper(),w.lower(),len(w)]  )
print(new_words)
print("-----------------------------")                      
#e
new_words = []
for w in words:
    if len(w)>=4:
        new_words.append(w )
print(new_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
-----------------------------
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
-----------------------------
[3, 5, 5, 3, 5, 4, 3, 4, 3]
-----------------------------
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
-----------------------------
['quick', 'brown', 'jumps', 'over', 'lazy']